<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h3>Dodaj zawody</h3>
      <%= form_tag competitions_path, multipart: true do %>
        <div class="form-group">
          <%= select_tag :competition_wca_json, options_for_select(@competition_names_with_json), class: "custom-select" %>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <%= file_field_tag :competitors_csv_file, label: "Plik CSV z listą zawodników", accept: "text/csv" %>
            <%= label_tag :competitors_csv_file, "Plik CSV z listą zawodników", class: "custom-file-label" %>
          </div>
          <small class="form-text text-muted">
            Wymagane kolumny pliku to: wca id, country, email.
            <br>Plik musi zawierać wyłącznie tych zawodników, którzy pojawili się na zawodach.
          </small>
        </div>
        <%= submit_tag "Wyślij ankiety", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
