<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h3>Dodaj zawody</h3>
      <%= form_tag competitions_path, multipart: true do %>
        <div class="form-group">
          <%= select_tag :competition_wca_json, options_for_select(@competition_names_with_json), class: "custom-select" %>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <%= file_field_tag :registrations_csv_file, accept: "text/csv" %>
            <%= label_tag :registrations_csv_file, "Plik CSV z listą zawodników", class: "custom-file-label" %>
          </div>
          <small class="form-text text-muted">
            Wymagane kolumny pliku to: name, birth date, email.
          </small>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <%= file_field_tag :results_xls_file, accept: "application/vnd.ms-excel" %>
            <%= label_tag :results_xls_file, "Plik XLS z wynikami", class: "custom-file-label" %>
          </div>
          <small class="form-text text-muted">
            Plik pochodzący z Cubecomps.
          </small>
        </div>
        <%= submit_tag "Wyślij ankiety", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
