<% start_date = @survey.competition.start_date.strftime("%-d.%m") %>
<% end_date = @survey.competition.end_date.strftime("%-d.%m") %>
<% date_range = start_date == end_date ? "dniu #{start_date}" : "dniach #{start_date} - #{end_date}" %>

<% if @survey.delegate? %>
  <p>Drogi delegacie <%= @survey.competition.name %>,</p>
  <p>
    W <%= date_range %> delegowałeś kolejne zawody w sezonie <%= @survey.competition.start_date.year %>.
    W trosce o jakość organizowanych wydarzeń prosimy o wypełnienie specjalnej ankiety.
    Twoja opinia jest niezbędna do miarodajnej oceny przedsięwzięcia.
  </p>
<% else %>
  <p>Drogi uczestniku <%= @survey.competition.name %>,</p>
  <p>
    W <%= date_range %> wziąłeś udział w kolejnych zawodach w sezonie <%= @survey.competition.start_date.year %>.
    W trosce o jakość organizowanych wydarzeń prosimy o udział w anonimowej ankiecie, oceniającej jakość przedsięwzięcia.
  </p>
<% end %>

<p>Ankieta dostepna jest <%= link_to "tutaj", edit_survey_url(@survey) %>.</p>
<p>
  Z poważaniem,<br>Polskie Stowarzyszenie Speedcubingu
</p>
