<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h3>Ankieta dotycząca <%= @survey.competition.name %></h3>
      <p>
        Twoja opinia pomaga w podnoszeniu poziomu organizowanych wydarzeń, dlatego
        prosimy o ocenienie poniższych aspektów zawodów. W przypadku uwag,
        do każego z nich możesz dodać komentarz skierowany do organizatorów zawodów.
      </p>
      <%= form_for @survey, html: { class: "survey-form" } do |survey_form| %>
        <%= survey_form.fields_for :survey_answers do |answer_form| %>
          <div class="survey-answer">
            <%= answer_form.hidden_field :survey_question_id %>
            <h5 class="mb-0"><%= answer_form.options[:child_index] + 1 %>. <%= answer_form.object.survey_question.question %></h5>
            <small class="text-muted"><%= answer_form.object.survey_question.description %></small>
            <div class="form-group">
              <% (1..10).each do |rate| %>
                <div class="custom-control custom-radio custom-control-inline">
                  <!-- Add ids because Rails fails to set correct [for] on corrseponding <label> elements. -->
                  <% id = "rate-#{answer_form.options[:child_index]}-#{rate}" %>
                  <%= answer_form.radio_button :rating, rate, class: "custom-control-input", id: id %>
                  <%= answer_form.label :rating, rate, class: "custom-control-label", for: id %>
                </div>
              <% end %>
            </div>
            <div class="form-group">
              <%= answer_form.text_field :comment, placeholder: "Opcjonalny komentarz", class: "form-control" %>
            </div>
          </div>
        <% end %>
        <div class="alert alert-info">
          <span>Średnia: </span><span class="font-weight-bold rating-mean"></span>
        </div>
        <%= survey_form.submit "Wyślij", class: "btn btn-primary mb-2" %>
      <% end %>
    </div>
  </div>
</div>
