<!DOCTYPE html>
<html>
  <head>
    <title>Ankiety PSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.6/css/all.css", "data-turbolinks-track": "reload" %>
    <!-- Execute JS after parsing HTML. See: https://github.com/turbolinks/turbolinks#loading-your-applications-javascript-bundle -->
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "layouts/navigation" %>
    <%= render "layouts/flash_messages" %>
    <%= yield %>
  </body>
</html>
